<aside class="left">
  {% with request.resolver_match.url_name as url_name %}
  <ul>
    <li>
      <a
        href="{% url 'profile' %}"
        class="{% if url_name == 'profile' %}active{% endif %}"
        >Profile</a
      >
    </li>
    {% if request.user.profile.role == 'Seller' %}
    <li>
      <a
        href="{% url 'admin_product' %}"
        class="{% if url_name == 'admin_product' %}active{% endif %}"
        >Products</a
      >
    </li>
    {% endif %}
    <li>
      <a
        href="{% url 'orders' %}"
        class="{% if url_name == 'orders' %}active{% endif %}"
        >Orders</a
      >
    </li>
    <li>
      <a href="{% url 'logout' %}">Logout</a>
    </li>
  </ul>
  {% endwith %}
</aside>
