{% extends '../common/main.html' %}
<!-- Divider -->
{% block title %}{{ user.first_name }} {{ user.last_name }}'s orders |
Plantipie{% endblock %}
<!-- Divider -->
{% block content %}
<section class="container">
  <div class="profile_wrapper">
    {% include './aside.html' %}
    <div class="right">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Order ID</th>
              <th scope="col">Order Date</th>
              <th scope="col">Order Status</th>
              <th scope="col" class="text-end">Total</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for order in orders %}
            <tr>
              <td class="align-middle">INV-{{ order.id }}</td>
              <td class="align-middle">{{ order.created_at }}</td>
              <td class="align-middle">
                <span
                  class="badge bg-{% if order.status == 'Pending' %}warning{% elif order.status == 'Canceled' %}danger{% else %}success{% endif %}"
                  >{{ order.status }}</span
                >
              </td>
              <td class="text-end align-middle">&#2547; 1000</td>
              <td class="align-middle align-middle">
                <a
                  href="{% url 'order_detail' order.id %}"
                  class="btn btn-sm btn-theme"
                  ><i class="fa-solid fa-eye text-sm"></i
                ></a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
{% endblock %}
