{% extends '../common/main.html' %}
<!-- Divider -->
{% block title %}{{ user.first_name }} {{ user.last_name }}'s orders |
Plantipie{%comment%}<!-- Divider -->{%endcomment%}{% endblock %}
<!-- Divider -->
{% block content %}
<section class="container">
  <div class="profile_wrapper">
    {% include './aside.html' %}
    <div class="right">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Order ID</th>
              <th scope="col" class="text-end">Order Date</th>
              <th scope="col">Order Status</th>
              <th scope="col" class="text-end">Total</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for i in range %}
            <tr>
              <th scope="row">{{ i }}</th>
              <td>INV33221{{ i }}</td>
              <td class="text-end">12 Jan 2023</td>
              <td>
                <span class="badge bg-success">Delivered</span>
              </td>
              <td class="text-end">&#2547; 1000</td>
              <td>
                <a href="/orders/{{ i }}" class="btn btn-sm btn-theme">View</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
{% endblock %}
