{% extends '../common/main.html' %}
<!-- Divider -->
{% block title %}{{ user.first_name }} {{ user.last_name }} |
Plantipie{%comment%}<!-- Divider -->{%endcomment%}{% endblock %}
<!-- Divider -->
{% block content %}
<section class="container">
  <div class="profile_wrapper">
    {% include './aside.html' %}
    <div class="right">
      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="user_profile">
          <img
            src="/{{ user.profile.avatar }}"
            alt="{{ user.first_name }} {{ user.last_name }}"
          />
          <div>
            <h5>{{ user.first_name }} {{ user.last_name }}</h5>
            <input type="file" name="avatar" id="avatar" class="d-none" />
            <label for="avatar" class="btn btn-sm btn-theme"
              >Change Avatar <i class="fa-solid fa-edit ms-2"></i
            ></label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <label for="first_name" class="form-label">First Name</label>
              <input
                type="text"
                class="form-control"
                name="first_name"
                id="first_name"
                value="{{ user.first_name }}"
                required
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label for="last_name" class="form-label">Last Name</label>
              <input
                type="text"
                class="form-control"
                name="last_name"
                id="last_name"
                value="{{ user.last_name }}"
                required
              />
            </div>
          </div>
          <div class="col-12">
            <div class="mb-3">
              <label for="phone" class="form-label">Phone</label>
              <input
                type="tel"
                class="form-control"
                name="phone"
                id="phone"
                value="{{ user.profile.phone }}"
                required
              />
            </div>
          </div>
          <div class="col-12">
            <div class="mb-3">
              <label for="adderss" class="form-label">Address</label>
              <textarea
                class="form-control"
                id="adderss"
                name="address"
                rows="3"
                required
              >
{{ user.profile.address }}</textarea
              >
            </div>
          </div>
        </div>
        <div class="text-end">
          <button type="submit" class="btn btn-theme">Update</button>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}
