{% extends '../common/main.html' %}
<!-- Divider -->
{% block title %}Login | Plantipie{% endblock %}
<!-- Divider -->
{% block content %}
<section class="container">
  <form class="auth-form" action="" method="post">
    {% csrf_token %}
    <div>
      <h4 class="mb-4">Create an account</h4>
      <div class="form-group mb-3">
        <label class="mb-1" for="first_name">First name</label>
        <input
          type="first_name"
          name="first_name"
          class="form-control"
          id="first_name"
          placeholder="Enter first name"
          required
        />
      </div>
      <div class="form-group mb-3">
        <label class="mb-1" for="last_name">Last name</label>
        <input
          type="last_name"
          name="last_name"
          class="form-control"
          id="last_name"
          placeholder="Enter last name"
          required
        />
      </div>
      <div class="form-group mb-3">
        <label class="mb-1" for="email">Email address</label>
        <input
          type="email"
          name="email"
          class="form-control"
          id="email"
          placeholder="Enter email address"
          required
        />
      </div>
      <div class="form-group mb-3">
        <label class="mb-1" for="password">Password</label>
        <input
          type="password"
          name="password"
          class="form-control"
          id="password"
          placeholder="Enter assword"
          required
        />
      </div>
      <p class="text-muted">
        Have an account ?
        <a href="{% url 'login' %}">Login Here</a>
      </p>
      <button type="submit" class="btn btn-theme">Register</button>
    </div>
  </form>
</section>
{% endblock %}
