<header>
  <div class="container">
    <div class="header-wrapper">
      <div class="left">
        <div class="logo">
          <a href="{% url 'home' %}">Plantipie</a>
        </div>
      </div>
      <div class="right">
        {% if request.user.is_authenticated %}
        <!-- Divider -->
        {% if request.user.is_authenticated %}
        <div data-item="{{ user.cart_count }}" id="cart-btn" class="cart-btn">
          <i class="fa-solid fa-cart-shopping"></i>
        </div>
        {% endif %}
        <!-- Divider -->
        {% endif %}
        <!-- Divider -->
        {% if request.user.is_authenticated %}
        <!-- Divider -->
        <a href="{% url 'profile' %}" class="user">
          {% if user.profile.avatar %}
          <img
            src="/{{ user.profile.avatar }}"
            alt="{{ user.first_name }} {{ user.last_name }}"
          />
          {% else %} {% load static %}
          <img
            src="{% static '/assets/images/default-user.png' %}"
            alt="{{ user.first_name }} {{ user.last_name }}"
          />
          {% endif %}
          <div>
            <p>Welcome!</p>
            <h6>{{user.first_name}} {{user.last_name}}</h6>
          </div>
        </a>
        {% else %}
        <a class="auth-btn" href="{% url 'login' %}">
          <i class="fa-solid fa-user"></i>
          Login
        </a>
        {% endif %}
      </div>
    </div>
  </div>
</header>

<aside class="cart-wrapper" id="cart-wrapper">
  <div class="cart-header">
    <h4>My Cart</h4>
    <span id="cart-close-btn"><i class="fa-solid fa-times"></i></span>
  </div>
  <div class="cart-body">
    {% if user.cart_count %}
    <ul>
      {% for cart in user.carts %}
      <li>
        <div class="image">
          <img
            src="/{{cart.product.featured_image}}"
            alt="{{cart.product.name}}"
          />
        </div>
        <div>
          <h6>
            <span>{{cart.product.name}}</span>
            <a
              href="{% url 'addToCart' cart.product.id %}?quantity=0&next={{request.path}}?cart_aside=true"
            >
              <i class="fa-solid fa-close"></i>
            </a>
          </h6>
          <div class="price">
            <span
              >&#2547; {% load customer_filter %}
              {{cart.product.price|calculateDiscount:cart.product.discount}}</span
            >
            <span class="available"
              >In Stock ({{cart.product.stock}}
              <!-- Divider -->
              Item{% if cart.product.stock > 1%}s{% endif %})
            </span>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <div class="quantity">
              <a
                href="{% url 'addToCart' cart.product.id %}?quantity=-1&next={{request.path}}?cart_aside=true"
              >
                <i class="fa-solid fa-minus"></i>
              </a>
              <span>{{cart.quantity}}</span>
              <a
                href="{% url 'addToCart' cart.product.id %}?quantity=+1&next={{request.path}}?cart_aside=true"
              >
                <i class="fa-solid fa-plus"></i>
              </a>
            </div>
            <h5 class="mb-0 fw-bold">&#2547; {{cart.total}}</h5>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <div class="empty-cart">
      {% load static %}
      <img
        src="{% static '/assets/images/empty_cart.png' %}"
        alt=""
        class="img-fluid"
      />
      <h5>Your cart is empty!</h5>
    </div>
    {% endif %}
  </div>
  {% if user.cart_count %}
  <div class="cart-footer">
    <h5 class="d-flex justify-content-between mb-3">
      <span class="fw-normal">Total :</span>
      <span class="fw-bold">&#2547; {{user.total_cart_price}}</span>
    </h5>
    <a href="{% url 'checkout' %}" class="btn btn-theme" style="width: 100%"
      >Checkout</a
    >
  </div>
  {% endif %}
</aside>
