{% extends './common/main.html' %}
<!-- divider -->
{% block title %}Process to checkout | Plantipie{%endblock %}
<!-- divider -->
{% block content %}
<section class="container">
  <h2 class="text-center my-5">Checkout</h2>
  <form action="" method="post">
    {% csrf_token %}
    <div class="row flex-md-row flex-column-reverse">
      <div class="col-xl-8 col-md-7">
        <h5 class="mb-3">Personal Details</h5>
        <div class="row mb-4">
          <div class="col-md-6">
            <div class="mb-3">
              <label class="form-label" for="first_name">First Name</label>
              <input
                type="text"
                class="form-control"
                name="first_name"
                id="first_name"
                placeholder="Enter first name"
                value="{{user.first_name}}"
                required
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label class="form-label" for="last_name">Last Name</label>
              <input
                type="text"
                class="form-control"
                name="last_name"
                id="last_name"
                placeholder="Enter last name"
                value="{{user.last_name}}"
                required
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label class="form-label" for="email">Email</label>
              <input
                type="email"
                class="form-control"
                name="email"
                id="email"
                placeholder="Enter email address"
                value="{{user.email}}"
                required
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label class="form-label" for="phone">Phone</label>
              <input
                type="tel"
                class="form-control"
                name="phone"
                id="phone"
                placeholder="Enter phone number"
                value="{{user.profile.phone}}"
                required
              />
            </div>
          </div>
          <div class="col-12">
            <div class="mb-3">
              <label class="form-label" for="shipping_address"
                >Shipping Address</label
              >
              <textarea
                class="form-control"
                name="shipping_address"
                id="shipping_address"
                placeholder="Enter shipping address"
                required
              >
{{user.profile.address}}</textarea
              >
            </div>
          </div>
          <div class="col-12">
            <div class="mb-3">
              <label class="form-label" for="billing_address"
                >Billing Address</label
              >
              <textarea
                class="form-control"
                name="billing_address"
                id="billing_address"
                placeholder="Enter shipping address"
                required
              >
{{user.profile.address}}</textarea
              >
            </div>
          </div>
        </div>
        <h5 class="mb-3">Payment Information</h5>
        <div class="form-check form-check-inline mb-3">
          <input
            class="form-check-input"
            type="radio"
            name="payment_method"
            id="bkash"
            value="BKash"
            required
          />
          <label class="form-check-label" for="bkash">BKash</label>
        </div>
        <div class="form-check form-check-inline mb-3">
          <input
            class="form-check-input"
            type="radio"
            name="payment_method"
            id="nagad"
            value="Nagad"
            required
          />
          <label class="form-check-label" for="nagad">Nagad</label>
        </div>
        <div class="form-check form-check-inline mb-3">
          <input
            class="form-check-input"
            type="radio"
            name="payment_method"
            id="cod"
            value="Cash On Delivary"
            required
          />
          <label class="form-check-label" for="cod">Cash On Delivary</label>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="mb-3" id="transaction_id_elemt">
              <label class="form-label" for="transaction_id"
                >Transaction ID</label
              >
              <input
                type="text"
                class="form-control"
                name="transaction_id"
                id="transaction_id"
                placeholder="Enter transaction ID"
                required
              />
            </div>
          </div>
        </div>
        {% if user.cart_count %}
        <button class="btn btn-theme mb-5" type="submit">
          Continue To Checkout
        </button>
        {% else %}
        <div class="alert alert-danger">
          <p class="mb-0"><strong>Warning!</strong> Your cart is empty.</p>
        </div>
        {% endif %}
      </div>
      <div class="col-xl-4 col-md-5">
        <h5 class="mb-3">Your Plants</h5>
        <div class="products mb-4 mb-md-0">
          {% if user.cart_count %} {% load static %}
          <ul>
            {% for cart in user.carts %}
            <li>
              <div class="image">
                <img
                  src="/{{cart.product.featured_image}}"
                  alt="{{cart.product.name}}"
                />
              </div>
              <div>
                <h6>
                  <a href="{% url 'product_detail' cart.product.id %}"
                    >{{cart.product.name}}</a
                  >
                  <a href="">
                    <i class="fa-solid fa-close"></i>
                  </a>
                </h6>
                <div class="price">
                  <span
                    >&#2547; {% load customer_filter %}
                    {{cart.product.price|calculateDiscount:cart.product.discount}}</span
                  >
                  <span class="available"
                    >In Stock ({{cart.product.stock}}
                    <!-- Divider -->
                    Item{% if cart.product.stock > 1%}s{% endif %})
                  </span>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="quantity">
                    <a href="{% url 'addToCart' cart.product.id %}?quantity=-1">
                      <i class="fa-solid fa-minus"></i>
                    </a>
                    <span>{{cart.quantity}}</span>
                    <a href="{% url 'addToCart' cart.product.id %}?quantity=+1">
                      <i class="fa-solid fa-plus"></i>
                    </a>
                  </div>
                  <h5 class="mb-0 fw-bold">&#2547; {{cart.total}}</h5>
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Total</h5>
            <p class="mb-0">
              <strong>&#2547; {{user.total_cart_price}}</strong>
            </p>
          </div>
          {% else %}
          <div class="empty-cart">
            {% load static %}
            <img
              src="{% static '/assets/images/empty_cart.png' %}"
              alt=""
              class="img-fluid"
            />
            <h5>Your cart is empty!</h5>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </form>
</section>
{% endblock %} {% block script %}
<script>
  const transaction_id_elemt = document.getElementById('transaction_id_elemt')
  const transaction_id_input = document.getElementById('transaction_id')
  const payment_method_elemts = document.querySelectorAll(
    'input[name="payment_method"]'
  )
  payment_method_elemts.forEach((elem) => {
    elem.addEventListener('change', (e) => {
      if (e.target.value === 'Cash On Delivary') {
        transaction_id_elemt.classList.add('d-none')
        transaction_id_input.removeAttribute('required')
        transaction_id_input.value = ''
      } else {
        transaction_id_elemt.classList.remove('d-none')
        transaction_id_input.setAttribute('required', true)
      }
    })
  })
</script>
{% endblock %}
