{% extends './common/main.html' %}
<!-- divider -->
{% block title %}All Plants | Plantipie{%endblock %}
<!-- divider -->
{% block content %}
<section class="my-5">
  <div class="products">
    <div class="container">
      <h3>All Products</h3>
      <div class="row">
        {% load static %}
        <!-- divider -->
        {% for i in plants %}
        <div class="col-xl-3 col-lg-4 col-md-6">
          <a href="{% url 'product_detail' i.id %}" class="product">
            <div class="image">
              <img
                class="img-fluid"
                src="/{{i.featured_image}}"
                alt="{{i.name}}"
              />
            </div>
            <div class="info">
              <div class="price">
                <h5>
                  &#2547; {% load customer_filter %}
                  {{i.price|calculateDiscount:i.discount}}
                </h5>
                <span>&#2547; {{i.price}}</span>
              </div>
              <h6>{{i.name}}</h6>
              <div class="other">
                {% if i.stock %}
                <span class="available"
                  >In Stock ({{i.stock}}
                  <!-- Divider -->
                  Item{% if i.stock > 1%}s{% endif %})
                </span>
                {% else %}
                <span class="unavailable">Out of Stock</span>
                {% endif %}
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
