{% extends './common/main.html' %}
<!-- divider -->
{% block title %}All Plants | Plantipie{%endblock %}
<!-- divider -->
{% block content %}
<section class="my-5">
  <div class="products">
    <div class="container">
      <h3>All Products</h3>
      <div class="row">
        {% load static %}
        <!-- divider -->
        {% for i in plants %}
        <div class="col-xl-3 col-lg-4 col-md-6">
          <a href="{% url 'product_detail' i.id %}" class="product">
            <div class="image">
              <img
                class="img-fluid"
                src="/{{i.featured_image}}"
                alt="{{i.plant_name}}"
              />
            </div>
            <div class="info">
              <div class="price">
                <h5>&#2547; 
                  {% load customer_filter %}
                  {{i.price|calculateDiscount:i.discount}}
                </h5>
                <span>&#2547; {{i.price}}</span>
              </div>
              <h6>{{i.name}}</h6>
              <div class="other">
                <span><i class="fa-solid fa-star"></i> 5.0</span>
                <!--update the 'i' below with product id pls-->
                <span><i class="fa-solid fa-shopping-cart"></i></span>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <nav class="mt-3">
    <ul class="pagination justify-content-center">
      {% if plants.has_previous %}
      <li class="page-item">
        <a class="page-link" href="/product/?page=1" aria-label="Previous"
          ><i class="fa-solid fa-angles-left"></i>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="/product/?page={{plants.previous_page_number}}" aria-label="Previous"
          ><i class="fa-solid fa-chevron-left"></i>
        </a>
      </li>
      {% endif %}
      {% for n in totalPageList %}
      <li class="page-item">
        <a class="page-link" href="/product/?page={{n}}">{{n}}</a>
      </li>
      {% endfor %}
      {% if plants.has_next %}
      <li class="page-item">
        <a class="page-link" href="/product/?page={{plants.next_page_number}}" aria-label="Next"
          ><i class="fa-solid fa-chevron-right"></i>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="/product/?page={{lastpage}}" aria-label="Next"
          ><i class="fa-solid fa-angles-right"></i>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
</section>
{% endblock %}
