{% extends './common/main.html' %}
<!-- divider -->
{% block content %}
<section>
  <div class="container">
    <div class="product-wrapper">
      <div class="left">
        <div class="main-image">
          {% load static %}
          <img src="/{{plant.featured_image}}" alt="{{plant.name}}" />
        </div>
        <div class="sub-images">
          <div>
            {% for img in extraImages %} {% if forloop.first %}
            <div class="active image-item">
              <img
                src="/{{img.image}}"
                alt="Additional image {{forloop.counter}}"
              />
            </div>
            {% else %}
            <div class="image-item">
              <img
                src="/{{img.image}}"
                alt="Additional image {{forloop.counter}}"
              />
            </div>
            {% endif %} {% endfor %}
          </div>
        </div>
      </div>
      <div class="right">
        <h4>{{plant.name}}</h4>
        <div class="stock">
          <span>Availability:</span>
          <span class="available">In Stock ({{plant.stock}} items)</span>
        </div>
        <div class="price">
          <h5>
            &#2547; {% load customer_filter %}
            {{plant.price|calculateDiscount:plant.discount}}
          </h5>
          <span>&#2547; {{plant.price}}</span>
        </div>
        <p>{{plant.description}}</p>
        {% if plant.stock %}

        <div class="d-flex align-items-center gap-3">
          {% if cart_quantity %}
          <div class="quantity">
            <a
              href="{% url 'addToCart' plant.id %}?quantity=-1&next={{request.path}}"
            >
              <i class="fa-solid fa-minus"></i>
            </a>
            <span>{{cart_quantity}}</span>
            <a
              href="{% url 'addToCart' plant.id %}?quantity=+1&next={{request.path}}"
            >
              <i class="fa-solid fa-plus"></i>
            </a>
          </div>
          {% endif %} {% if not cart_quantity %}
          <a
            a
            href="{% url 'addToCart' plant.id %}?new=True&next={{request.path}}"
            class="btn btn-theme rounded-1"
          >
            <i class="fa-solid fa-shopping-cart"></i> Add to Cart
          </a>
          {% endif %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
<section>
  <div class="products">
    <div class="container">
      <h3>Recent Products</h3>
      <div class="row">
        {% for rec in recent_products %}
        <div class="col-xl-3 col-lg-4 col-md-6">
          <a href="{% url 'product_detail' rec.id %}" class="product">
            <div class="image">
              <img
                class="img-fluid"
                src="/{{rec.featured_image}}"
                alt="{{rec.name}}"
              />
            </div>
            <div class="info">
              <div class="price">
                <h5>
                  &#2547; {% load customer_filter %}
                  {{rec.price|calculateDiscount:rec.discount}}
                </h5>
                <span>&#2547; {{rec.price}}</span>
              </div>
              <h6>{{rec.name}}</h6>
              <div class="other">
                {% if rec.stock %}
                <span class="available"
                  >In Stock ({{rec.stock}}
                  <!-- Divider -->
                  Item{% if rec.stock > 1%}s{% endif %})
                </span>
                {% else %}
                <span class="unavailable">Out of Stock</span>
                {% endif %}
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock %} {% block script %}
<script>
  const mainImage = document.querySelector('.main-image img')
  const imageItems = document.querySelectorAll('.image-item')
  imageItems.forEach((item) => {
    item.addEventListener('click', () => {
      mainImage.src = item.querySelector('img').src
      imageItems.forEach((item) => {
        item.classList.remove('active')
      })
      item.classList.add('active')
    })
  })
</script>
{% endblock %}
