{% extends './common/main.html' %}
<!-- divider -->
{% block content %}
<section>
  <div class="container">
    <div class="product-wrapper">
      <div class="left">
        <div class="main-image">
          {% load static %}
          <img src="/{{plant.featured_image}}" alt="{{plant.name}}" />
        </div>
        <div class="sub-images">
          <div>
            {% for img in extraImages %}
              {% if forloop.first %}
                <div class="active">
                  <img src="/{{img.image}}" alt="Additional image {{forloop.counter}}" />
                </div>
              {% else %}
                <div>
                  <img src="/{{img.image}}" alt="Additional image {{forloop.counter}}" />
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="right">
        <h4>{{plant.name}}</h4>
        <div class="stock">
          <span>Availability:</span>
          {% if plant.stock == 0 %}
            <span class="unavailable">Out of stock ({{plant.stock}} item)</span>
          {% elif plant.stock == 1 %}
            <span class="available">In stock ({{plant.stock}} item)</span>
          {% else %}
            <span class="available">In stock ({{plant.stock}} items) </span>
          {% endif %}
        </div>
        <div class="price">
          <h5>&#2547; 
            {% load customer_filter %}
            {{plant.price|calculateDiscount:plant.discount}}
          </h5>
          <span>&#2547; {{plant.price}}</span>
        </div>
        <p>
          {{plant.description}}
        </p>
        <div class="d-flex align-items-center gap-3">
          <div class="quantity">
            <span>
              <i class="fa-solid fa-minus"></i>
            </span>
            <span>1 </span>
            <span>
              <i class="fa-solid fa-plus"></i>
            </span>
          </div>
          <button class="btn btn-theme rounded-1">
            <i class="fa-solid fa-shopping-cart"></i> Add to Cart
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="products">
    <div class="container">
      <h3>Recent Products</h3>
      <div class="row">
        {% for rec in recent_products %}
        <div class="col-xl-3 col-lg-4 col-md-6">
          <a href="{% url 'product_detail' rec.id %}" class="product">
            <div class="image">
              <img
                class="img-fluid"
                src="/{{rec.featured_image}}"
                alt="{{rec.name}}"
              />
            </div>
            <div class="info">
              <div class="price">
                <h5>&#2547; 
                  {% load customer_filter %}
                  {{rec.price|calculateDiscount:rec.discount}}
                </h5>
                <span>&#2547; {{rec.price}}</span>
              </div>
              <h6>{{rec.name}}</h6>
              <div class="other">
                <span><i class="fa-solid fa-star"></i> 5.0</span>
                <span><i class="fa-solid fa-shopping-cart"></i></span>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
