{% extends './common/main.html' %}
<!-- divider -->
{% block content %}
<section>
  <div class="container">
    <div class="product-wrapper">
      <div class="left">
        <div class="main-image">
          {% load static %}
          <img src="{% static '/assets/images/product-1.jpg' %}" alt="" />
        </div>
        <div class="sub-images">
          <div>
            <div class="active">
              <img src="{% static '/assets/images/product-1.jpg' %}" alt="" />
            </div>
            <div>
              <img src="{% static '/assets/images/product-2.jpg' %}" alt="" />
            </div>
            <div>
              <img src="{% static '/assets/images/product-3.jpg' %}" alt="" />
            </div>
            <div>
              <img src="{% static '/assets/images/product-2.jpg' %}" alt="" />
            </div>
            <div>
              <img src="{% static '/assets/images/product-3.jpg' %}" alt="" />
            </div>
            <div>
              <img src="{% static '/assets/images/product-2.jpg' %}" alt="" />
            </div>
            <div>
              <img src="{% static '/assets/images/product-3.jpg' %}" alt="" />
            </div>
            <div>
              <img src="{% static '/assets/images/product-2.jpg' %}" alt="" />
            </div>
            <div>
              <img src="{% static '/assets/images/product-3.jpg' %}" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="right">
        <h4>Magni Dolores Eosquies</h4>
        <div class="stock">
          <span>Availability:</span>
          <span class="available">In Stock (20 items)</span>
        </div>
        <div class="price">
          <h5>&#2547; 576</h5>
          <span>&#2547; 600</span>
        </div>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt
          molestiae voluptatibus harum obcaecati blanditiis? Voluptates voluptas
          vero reiciendis vitae odio.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Necessitatibus obcaecati eaque cum optio quae dolorem sapiente,
          numquam aperiam voluptatibus corrupti ipsum quod vel dignissimos
          suscipit aliquid! Ratione, labore! Laboriosam, consequuntur!
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia
          consequatur iste pariatur dignissimos ipsa, natus error amet quidem
          dicta nobis recusandae blanditiis hic! Officiis, voluptates enim ab,
          sit aperiam aut repellat ex quae doloribus, reiciendis vitae. Quod
          quasi, totam ullam maiores libero inventore harum nam nihil atque
          dicta magnam provident!
        </p>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt
          molestiae voluptatibus harum obcaecati blanditiis? Voluptates voluptas
          vero reiciendis vitae odio.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Necessitatibus obcaecati eaque cum optio quae dolorem sapiente,
          numquam aperiam voluptatibus corrupti ipsum quod vel dignissimos
          suscipit aliquid! Ratione, labore! Laboriosam, consequuntur!
        </p>
        <div class="d-flex align-items-center gap-3">
          <div class="quantity">
            <span>
              <i class="fa-solid fa-minus"></i>
            </span>
            <span>1</span>
            <span>
              <i class="fa-solid fa-plus"></i>
            </span>
          </div>
          <button class="btn btn-theme rounded-1">
            <i class="fa-solid fa-shopping-cart"></i> Add to Cart
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="products">
    <div class="container">
      <h3>Recent Products</h3>
      <div class="row">
        {% for i in range %}
        <div class="col-xl-3 col-lg-4 col-md-6">
          <a href="{% url 'product_detail' i %}" class="product">
            <div class="image">
              <img
                class="img-fluid"
                src="{% static '/assets/images/product-1.jpg' %}"
                alt=""
              />
            </div>
            <div class="info">
              <div class="price">
                <h5>&#2547; 576</h5>
                <span>&#2547; 600</span>
              </div>
              <h6>Magni Dolores Eosquies</h6>
              <div class="other">
                <span><i class="fa-solid fa-star"></i> 5.0</span>
                <span><i class="fa-solid fa-shopping-cart"></i></span>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
